<p><a style="text-align:center;color:red"href="https://www.lijiaocn.com/money/img/self.jpg">关注公众号（点击）</a></p>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">
	<!--div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 content">
		<img src="https://www.lijiaocn.com/money/img/self.jpg"></img>
	</div-->
	<div class="hidden-xs hidden-sm  col-md-12 col-lg-12 content">
		<!-- 底部二维码并列 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8176866190626448"
			 data-ad-slot="1398175214"
			 data-ad-format="auto"
			 data-full-width-responsive="true"></ins>
		<script>
			 (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>
