{% if page.noprenext %}
{% else %}
<div class="prevnext">
    <div style="text-align:left">
        {% if page.previous_in_category %}
        <span>上一篇：</span><span><a href="{{ site.baseurl }}{{ page.previous_in_category.url }}">{{ page.previous_in_category.title }}</a></span>
        {% else %}
         {% endif %}
    </div>

    <div style="text-align:right">
      {% if page.next_in_category %}
      <span>下一篇：</span><span><a href="{{ site.baseurl }}{{ page.next_in_category.url }}">{{ page.next_in_category.title }}</a></span>
       {% else %}
      {% endif %}
    </div>
</div>
{% endif %}
