/*google广告未填充时，不占用空间：https://support.google.com/adsense/answer/10762946?hl=en*/
ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}

ul#markdown-toc {
    list-style:none;
}

ul#markdown-toc ul{
    list-style:none;
}

#navb {
    background-color: gray;
}

body {
    background-color: #ffffff;
    padding-left:0;
    padding-top:0;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topnav {
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
}
.topnav span.icon-bar{
    background: white;
}

.banner {
    text-align: center;
    padding: 0;
    width: 100%;
}

.main{
    margin-top: 3px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction:column;
}

.main .main-header{
    width: 100%;
}

.main .main-header .title{
    width: 100%;
    text-align: center;
}

.main .main-header .pageheader {
    padding:2px;
    margin:0;
    width: 100%;
    text-align: center;
}

.main .main-header .author{
    width: 100%;
    text-align: center;
}

.main .main-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
}

.main .main-body .content{
    flex-grow: 1;
    max-width: 900px;
}

.main .main-body .content h1,
.main .main-body .content h2,
.main .main-body .content h3,
.main .main-body .content h4,
.main .main-body .content h5,
.main .main-body .content h6 {
    border-left: 8px solid #00a67c;
    border-bottom: 1px solid #00a67c;
    padding:10px;
}

.main .main-body .content img {
    max-width:80%;
    -webkit-box-shadow: 0 0 10px #555;
    display:block;
    margin:0 auto;
}

.main .main-body .content .postlist {
    padding:0;
    margin:0;
}

.main .main-body .content  .postitem {
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right:0;
    margin-left:0;
}


.main .main-body .content  .postitem h2 {
    border-left: 8px solid #00a67c;
    border-bottom: 1px solid #00a67c;
    font-size:1.8em;
    font-family: 思源宋体;
    background: white;
    text-align:left;
    padding:10px;
}

.main .main-body .content  .postitem h2 a{
}

.main .main-body .content  .postitem p {
    line-height:130%;
    padding-top:5px;
    padding-left:0px;
}

.main .main-body .content  .postitem .postinfo {
    text-align:left;
}

.main .main-body .content  .postitem .postinfo p {
    font-size:13px;
    padding-top:0px;
    padding-left:3px;
}

.main .main-body  .content .postitem .postdesc {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main .main-body .content  .postitem .postdesc .left {
    width: 100%;
    word-break: break-all;
}

.main .main-body .content  .postitem .postdesc .right {
    flex-shrink: 1;
    padding-left:1em;
    max-width: 250px;
}

.main .main-body  .content .postitem .postdesc p {
    padding-top:0;
    /*padding-left:1px;*/
    color: #888;
}

.main .main-body  .content  .postitem .postdesc img {
    width:100%;
}



.main .main-body .rsidebar{
    flex-grow: 0;
    max-width: 300px;
    text-align:center;
    background-color: #ffffff;
}

.main .main-body .rsidebar img {
    /*-webkit-box-shadow: 0 0 10px #555;*/
    width: 100%;
}


.main .main-footer  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width:100%;
}

.foot {
    margin-top: 20px;
    padding-top:10px;
    text-align:center;
    background-color: #5a5a5a;
    width: 100%;
}

/*.mainwrapper .main {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    flex-shrink: 1;*/
/*}*/

/*.mainwrapper .rsidebar {*/
/*    max-width: 300px;*/
/*    text-align:center;*/
/*    background-color: #ffffff;*/
/*    flex-shrink: 4;*/
/*}*/

/*.mainwrapper .rsidebar .rsidebar-content {*/
/*}*/

/*.mainwrapper .rsidebar .rsidebar-element {*/
/*}*/

/*.mainwrapper .rsidebar .searchbar {*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    text-align: left;*/
/*}*/

/*.mainwrapper .rsidebar .rsidebar-title {*/
/*    height:40px;*/
/*    line-height:40px;*/
/*    border-radius:4px;*/
/*    margin-top: 10px;*/
/*}*/

/*.mainwrapper .rsidebar-title p {*/
/*    border-radius:4px;*/
/*    background-image:-webkit-linear-gradient(to bottom, #e8e8e8, #ffffff);*/
/*    background-image:linear-gradient(to bottom,#e8e8e8,#ffffff);*/
/*}*/

/*.main .center{*/
/*    padding-left:15px;*/
/*    padding-right:15px;*/

/*    display:flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-grow: 1;*/
/*    max-width: 800px;*/
/*}*/


/*.main .center .author {*/
/*    width: 100%;*/
/*}*/

/*.main .center .top_ad {*/
/*    width: 100%;*/
/*    text-align: center;*/
/*}*/

/*.main .center .top_social {*/
/*    width: 100%;*/
/*}*/

/*.main .center .content {*/
/*    width: 100%;*/
/*}*/

/*.main .center .copyright {*/
/*    text-align: center;*/
/*    width: 100%;*/
/*}*/

/*.main .center .page_bottom_ad {*/
/*    padding-top:10px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*}*/

/*.mian .center .related {*/
/*    padding-top:10px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*}*/

/*.main .center .recent {*/
/*    padding-top:10px;*/
/*    text-align: center;*/
/*}*/

/*.main .center .author p {*/
/*    font-size:13px;*/
/*    text-align:center;*/
/*    color: gray;*/
/*}*/

/*.main .center .paginator{*/
/*    padding:0px;*/
/*}*/

/*.main .center .paginator ul.pager{*/
/*    list-style:none;*/
/*    padding: 0px;*/
/*}*/

/*.main .center .paginator ul.pager li{*/
/*    display:inline;*/
/*    display:inline-flex;*/
/*    border: 1px solid black;*/
/*    margin:5px;*/
/*}*/

/*.main .center .paginator ul.pager li a{*/
/*    display:block;*/
/*    width:100%;*/
/*    padding: 10px;*/
/*}*/

/*.main .center .paginator ul.pager li a:hover{*/
/*    background-color: yellow;*/
/*}*/

/*.main .center .paginator ul.pager .selected{*/
/*    background-color: yellow;*/
/*}*/

/*.main .center p {*/
/*    font-size:15px;*/
/*    line-height: 180%;*/
/*}*/

/*.main .center img {*/
/*    max-width:80%;*/
/*    -webkit-box-shadow: 0 0 10px #555;*/
/*    display:block;*/
/*    margin:0 auto;*/
/*}*/

/*.main .center h1 {*/
/*    font-size:30px;*/
/*    font-family: "思源黑体";*/
/*    font-weight:bold;*/
/*    text-align:center;*/
/*}*/

/*.main .center h2 {*/
/*    border-left: 8px solid #00a67c;*/
/*    border-bottom: 1px solid #00a67c;*/
/*    font-size:24px;*/
/*    font-family: "思源黑体";*/
/*    padding:10px;*/
/*}*/

/*.main .center h3 {*/
/*    border-left: 8px solid #00a67c;*/
/*    border-bottom: 1px solid #00a67c;*/
/*    font-size:22px;*/
/*    font-family: "思源黑体";*/
/*    padding:10px;*/
/*}*/

/*.main .center h4 {*/
/*    border-left: 8px solid #00a67c;*/
/*    border-bottom: 1px solid #00a67c;*/
/*    font-size:18px;*/
/*    font-family: "思源黑体";*/
/*    padding:10px;*/
/*}*/

/*.main .center h5 {*/
/*    border-left: 8px solid #00a67c;*/
/*    border-bottom: 1px solid #00a67c;*/
/*    font-size:16px;*/
/*    font-family: "思源黑体";*/
/*    padding:10px;*/
/*}*/

/*.main .center h6 {*/
/*    border-left: 8px solid #00a67c;*/
/*    border-bottom: 1px solid #00a67c;*/
/*    font-size:15px;*/
/*    font-family: "思源黑体";*/
/*    padding:10px;*/
/*}*/

/*.main .center pre {*/
/*    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;*/
/*    font-size: 90%;*/
/*    border: solid 0px lightgrey;*/
/*    background-color: rgba(185, 239, 66, 0.3);*/
/*    padding: 10px;*/
/*    line-height: 1.3;*/
/*    -webkit-overflow-scrolling:touch;*/
/*    word-wrap: normal;*/
/*    overflow: auto;*/
/*}*/

/*.main .center pre code {*/
/*    white-space: pre;*/
/*}*/




/*col-xl-*/
@media (min-width: 1200px) {
    .main {
        width: 1200px;
    }
}

/*col-lg-*/
@media (min-width: 1200px){
}

/*col-md-*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*col-sm-*/
@media (min-width: 768px) and (max-width: 991px) {
}

/*col-xs-*/
@media (max-width: 767px) {
    .main .main-body {
        flex-direction: column;
    }
    .main .main-body .rsidebar {
        visibility: hidden;
    }
}
